In [1]:
a=10 #int
print(a, type(a))
a=10.5 #float
print(a, type(a))
a='hello' #str
print(a, type(a))
a=True #bool
print(a, type(a))
a=None #None Type
print(a, type(a))
a=[1,2,3] #list
print(a, type(a))
a=(1,2,3,4,5) #tuple
print(a, type(a))
a={1,2,3} #set
print(a, type(a))
a={'a':1, 'b':2} #dict
print(a, type(a))

10 <class 'int'>
10.5 <class 'float'>
hello <class 'str'>
True <class 'bool'>
None <class 'NoneType'>
[1, 2, 3] <class 'list'>
(1, 2, 3, 4, 5) <class 'tuple'>
{1, 2, 3} <class 'set'>
{'a': 1, 'b': 2} <class 'dict'>

In [4]:
print()
a = 5
b = 15
print(a,b)
print(a,b, a+b)
print(a, b, a+b,sep='\n')

5 15
5 15 20
5
15
20

In [7]:
c=a+b
print(a, end=' , ')
print(b)
print(c)

5 , 15
20

In [10]:
# del print is used for correct the function

print=77
del print
print(a)

5

In [12]:
name='siddhant'
age=23
city='lucknow'
print(f'my name is {name}, i am {age} year old, i lived in {city}')

my name is siddhant, i am 23 year old, i lived in lucknow

In [13]:
x = 10
y = 3
z= x/y
print(f'{x}/{y} = {z:.2f}')
print(x,'/',y, '=', round(z,2))

10/3 = 3.33
10 / 3 = 3.33

In [17]:
n1='sara'
n2='clerk'
n3='ninja'
a1, a2, a3 = 22, 21, 24
print(f'{n1:10} {a1}')
print(f'{n2:10} {a2}')
print(f'{n3:10} {a3}')

sara       22
clerk      21
ninja      24