In [1]:
range(10)

range(0, 10)

In [2]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [3]:
for i in range(5,10):
    print(i, end=" ")

5 6 7 8 9

In [5]:
for i in range(5,100,4):
    print(i, end=" ")

5 9 13 17 21 25 29 33 37 41 45 49 53 57 61 65 69 73 77 81 85 89 93 97

In [6]:
for i in range(10,-11,-1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [7]:
for i in range(10,0,-1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [9]:
num=[12,41,14,47,78,85]
# tranversal of list
for data in num:
    print(data, end=' ')

12 41 14 47 78 85

In [10]:
prices=[12,None,74,85,None,78,None,96,88,74]
for rate in prices:
    if rate is None:
        continue
    print(rate)

12
74
85
78
96
88
74

In [13]:
for rate in prices:
    if rate is None:
        break
    print(rate)
print('the end')

12
the end

In [16]:
for i in range(1,6):
    print(i)
    for j in range(1,4):
        print(i+j, end=' ')
    print()

1
2 3 4
2
3 4 5
3
4 5 6
4
5 6 7
5
6 7 8

 * enmerater
 * zip
 * for -else

In [1]:
names = ['Radha','Rohan', 'Madhu', 'Siddhant']
for name in enumerate(names):
    print(name)

(0, 'Radha')
(1, 'Rohan')
(2, 'Madhu')
(3, 'Siddhant')

In [2]:
for idx, name in enumerate(names):
    print(idx, name)

0 Radha
1 Rohan
2 Madhu
3 Siddhant

In [4]:
n = [1,25,6,8,6,8,6,9,59,875,69,5,85,5,8,5,9,52,6,58,9,5]
for i, v in enumerate(n):
    if i ==10:
        break
    print(v)

1
25
6
8
6
8
6
9
59
875

In [6]:
x=[1,2,3,4]
y=[7,8,8,9]
z=[2,3,4,5]
for i in zip(x,y,z):
    print(i)

(1, 7, 2)
(2, 8, 3)
(3, 8, 4)
(4, 9, 5)

In [7]:
for i,j,k in zip(x,y,z):
    print(i*j*k)

14
48
96
180

In [ ]:
# for -else
# if all the iteration of the loop aree completed without any break statement, then  the else part is executed else part is not executed if the loop is terminated by a break statement.

In [8]:
for i in x:
    if i ==13:
        break
    print(i)
else:
    print('completed without break')

1
2
3
4
completed without break

In [11]:
# prime number
num=4556
for i in range(2, num):
    print(f'{num} % {i} = {num%i}')
    if num%i ==0:
        print('not prime')
        break
else:
    print('prime')

4556 % 2 = 0
not prime