In [1]:
# 1
a='jai shree ram'
print(a)

jai shree ram

In [2]:
# 2
a='siddhant sahu'
print(len(a))

13

In [5]:
# 3
b='python is great'
print(b[10:15])

great

In [15]:
# 4
b='python is great'
for i in b:
    print(i,'\n')

p

y

t

h

o

n



i

s



g

r

e

a

t

In [1]:
# 5
a='hello world'
print(a[::-1])

dlrow olleh

In [3]:
# 6
a='How are you?'
print(a.upper())
print(a.lower())

HOW ARE YOU?
how are you?

In [7]:
# 7
a=['siddhan', 'abhay', 'ramu', 'shyam']
print(" ".join(a))
print(" , ".join(a))

siddhan abhay ramu shyam
siddhan , abhay , ramu , shyam

In [10]:
# 8
c = '''my name is siddhant sahu
i lived in rajajipuram lucknow
i have 2 years of experience in typist '''
print(c)

my name is siddhant sahu
i lived in rajajipuram lucknow
i have 2 years of experience in typist

In [ ]:
# 9